@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 75px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-input {
    padding: 8px 30px 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-image: url(search.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px 20px;
}

.hamburger {
    width: 35px;
}

.hamburger img {
    width: 30px;
}


.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 900px;
    background-image: url(bg-1.jpg);
}

.img {}

.img img {

    border: 2px solid black;
    border-radius: 35px;
    height: 634px;
    width: 541px;
    border: 10px;

}

.text {
    position: relative;
    top: 100px;
    left: -94px;
    height: 515px;
    width: 390px;
    background-color: white;
    border-radius: 35px;
    text-align: justify;
    padding: 30px;
}

.text h3 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #f43a63;
    font-weight: 700;
    margin: 20px 0px;
}

.text p {
    font-size: 20px;
}

.text .p1 {
    font-size: 16px;
    margin: 20px 0px;
    color: #4a4a66;
}

.p1 a {
    color: #111111;
}

.btn1 {
    font-size: 17px;
    color: #414141;
    border: 3px solid #f43a63;
    border-radius: 34px;
    padding: 20px 47px 20px 46px;
    letter-spacing: 2px;
    font-weight: 400;
}

.btn1:hover {
    background-color: #f43a63;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

/* end of intro section */

.svg {
    height: 625px;
    background-color: white;
    text-align: center;
    padding: 50px;
}

.svg h2 {
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    margin-top: 35px;
    color: #f43a63;
}

.svg p {
    font-size: 20px;
    color: #111111;
    margin-top: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    border: 2px solid #c8c8fb;
    height: 350px;
    width: 275px;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    padding: 0px 30px;
    border-radius: 15px;
}

.img-svg {
    top: -13%;
    position: relative;
    height: 90px;
    border-radius: 50px;
    width: 90px;
    background-image: linear-gradient(#fbaebf, #9d9cf7);
    align-content: center;
}


.img-svg img {

    height: 40px;
    filter: invert(1);

}

.box h3 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #f77390;
    word-spacing: 2px;

}

.box p {
    font-size: 18px;
    color: #75706e;
}

.btn2 {
    font-size: 14px;
    color: #111111;
    border: 3px solid #fbaebf;
    margin: 25px 20px;
    padding: 15px 37px;
    border-radius: 25px;
    letter-spacing: 2px;
    background-color: white;
}

.btn2:hover {
    background-color: #f43a63;
    border-color: #f43a63;
    color: white;
    cursor: pointer;
}

/* end of svg section */

.balloon {
    position: relative;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#feebef, #f5f5fe);
    z-index: 0;
}

.content {
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content p {
    font-size: 20px;
    line-height: 37px;
    text-align: center;
}

.content h2 {
    text-align: center;
    font-size: 60px;
    color: #f43a63;
    font-family: "Roboto", sans-serif;
}

.content button {
    border: 3px solid #9d9cf7;
    margin-top: 25px;
}

.content button:hover {
    background-color: black;
    border-color: black;
    color: white;
    cursor: pointer;
}

.content .p1 {
    font-size: 16px;
    margin: 20px 0px;
    color: #4a4a66;
}

.balloon-img1 {
    position: absolute;
    top: 50px;
    left: 187px;
    z-index: -1;

}

.balloon-img2 {
    position: absolute;
    bottom: 420px;
    right: 576px;
    z-index: -1;
}

.balloon-img1 img {
    position: absolute;
    height: 450px;

}

.balloon-img2 img {
    position: absolute;
    height: 350px;
}

/* end of balloon section */


.photo {
    position: relative;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.photo-box1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 300px 300px 500px;
    padding: 30px 0px;

}

.text1-photo {
    padding: 0px 20px;
}

.text1-photo p {
    font-size: 16px;
    color: #666666;
    line-height: 30px;

}

.text2-photo {
    text-align: end;
    margin: 20px;
}

.text2-photo h3 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: #f43a63;
    margin-bottom: 15px;
}

.text2-photo h4 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #111111;
    margin-bottom: 15px;
}

.text2-photo p {
    font-style: italic;
}

.photo-box2 {
    display: flex;
    flex-direction: row;
}

.photo-img {
    width: 625px;
    height: 600px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: -236px;
}

.photo-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-img2 {}

.photo-img2 img {
    position: absolute;
    bottom: 66px;
    height: 200px;
    right: 278px;
}

/* section photo ends here */

.sec-5 {
    height: 1000px;
    background-image: linear-gradient(#feebef, #f5f5fe);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont {
    width: 744px;
    height: 732px;
    margin: 60px auto 0;
    background-color: white;
    display: grid;
    grid-template-columns: 400px 500px;
    justify-content: center;
}

.box-5-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.box-5-1 img {
    height: 100px;
    width: 100px;
}

.box-5-1 h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    color: #f43a63;
    margin-top: 10px;

}

.box-5-1 p {
    margin-top: 20px;
    font-size: 16px;
    color: #111111;
}

.box-5-1 .p1 {
    font-size: 16px;
    margin: 20px 0px;
    color: #4a4a66;
}

.p1 a {
    color: #111111;
}

.box-5-1 .btn111 {
    font-size: 17px;
    color: #414141;
    border: 3px solid #f43a63;
    border-radius: 34px;
    padding: 20px 47px 20px 46px;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 10px 180px 0px 9px;
}

.btn111:hover {
    background-color: #f43a63;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.box-5-2 {
    top: -66px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

}

.box-5-2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* section 5 ends here */

.sec-6 {
    height: 1750px;
    padding: 50px;
}

.sec-6-box {
    display: flex;
    justify-content: space-around;
}

.sec-6-img {
    margin-top: 120px;
    width: 675px;
    height: 675px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.sec-6-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec-6-img2 {
    width: 200px;
    height: 200px;
}

.sec-6-box2 {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: -100px;
    z-index: 1;
}

.sec-6-boxes {
    width: 200px;
    text-align: center;
    background-image: linear-gradient(#c8c8fb, #fbaebf);
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
}

.sec-6-boxes h2 {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: white;
}

.sec-6-boxes p {
    font-size: 16px;
    margin: 20px;
    color: white;
}

.sec-6 p {
    margin-top: 50px;
    text-align: center;
}

.sec-6-box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 100px 300px;
}

.sec-6-box3 h2 {
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    color: #f43a63;
    margin-top: 50px;
}

.sec-6-box3 p {
    line-height: 25px;
    word-spacing: 3px;
}

/* section 6 end here */

.sec-7 {
    height: 300px;
    background-image: url(bg-7-back.jpg);
    background-position: 50% 50%;
}

.sec-7-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    height: 220px;
    padding: 0px 200px;
}

.sec-7-boxes {
    background-image: linear-gradient(#c8c8fb, #fbaebf);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 30px;
    height: 200px;
    grid-gap: 25px;
    margin: -70px 0px;
}

.sec-7-boxes img {
    width: 50px;
}

.sec-7-boxes h2 {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;

}

.sec-7-boxes h3 {
    font-size: 60px;
}

.boxes-img {
    filter: invert(1);
}

@media screen and (max-width: 1250px) {
    .sec-6-box3 {
        margin: 60px 200px;
    }

    .photo-img {
        width: 525px;
        height: 500px;
    }

    .photo-img2 img {
        position: absolute;
        bottom: 118px;
        height: 150px;
    }

    .photo-box1 {
        grid-template-columns: 250px 250px 400px;
    }

    .sec-7-box {
        padding: 0px 100px;
    }
}

@media screen and (max-width: 1150px) {
    .sec-6-boxes {
        padding: 15px;
        margin: 5px;
    }

    .box-5-2 {
        width: 500px;
        height: 500px;
    }

    .box {
        display: flex;
        flex-direction: column;
        border: 2px solid #c8c8fb;
        height: 400px;
        width: 230px;
    }

    .img img {
        margin-left: 50px;
    }

    .photo-img {
        margin-left: 60px;
    }

    .photo-img2 img {
        right: 200px;
    }

    .balloon-img1 {
        left: 85px;
    }

    .balloon-img2 {
        bottom: 360px;
        right: 367px;
    }
}

@media screen and (max-width: 1000px) {
    .intro {
        flex-direction: column;
        height: 1000px;
    }

    .img img {
        margin-left: -170px;
        margin-top: 160px;
        height: 577px;
        width: 500px;
    }

    .text {
        top: -200px;
        left: 21px;
    }

    .svg {
        height: 1000px;
    }

    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .box {
        margin-top: 21%;
        height: 350px;
    }

    .img-svg {
        top: -7%;
        height: 60px;
        border-radius: 152px;
        width: 60px;
    }

    .svg h2 {
        font-size: 40px;
    }

    .svg p {
        font-size: 14px;
    }

    .balloon-img1 img {
        height: 400px;
    }

    .balloon-img1 {
        left: 85px;
    }

    .balloon-img2 img {
        height: 250px;
    }

    .balloon-img2 {
        bottom: 338px;
        right: 300px;
    }

    .photo-box1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .text1-photo p {
        font-size: 16px;
        color: #666666;
        line-height: 30px;
        width: 245px;
        padding-left: 121px;
    }

    .text2-photo {
        margin: 1px 34px 0px 0px;
    }

    .grid-item-2 {
        grid-row: 2;
        grid-column: 1;
    }

    .grid-item-3 {
        grid-row: 1;
        grid-column: 2;
    }

    .photo-img {
        width: 425px;
        height: 400px;
        left: -146px;
    }

    .photo-img2 img {
        right: 50px;
    }

    .cont {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-item1 {
        grid-row: 2;
        grid-column: 1;
    }

    .grid-item2 {
        grid-row: 1;
        grid-column: 1;

    }

    .sec-5 {
        height: 1350px;
    }

    .cont {
        height: 1000px;
        width: 552px;
    }

    .box-5-2 {
        top: -27px;
        left: 98px;
    }

    .box-5-1 .btn111 {
        margin: 10px 314px 0px 9px;
    }

    .sec-6 {
        height: 1750px;
    }

    .sec-6-img {
        width: 500px;
        height: 500px;
    }

    .sec-6-img2 {
        width: 150px;
        height: 150px;
    }

    .sec-6-box2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .sec-6-box3 {
        margin: 60px 80px;
    }

    .sec-6-boxes {
        width: 320px;
    }

    .sec-6-box2 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .sec-7-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 580px;
    }

    .sec-7 {
        height: 580px;
    }
}

@media screen and (max-width: 800px) {
    .intro {
        height: 1081px;
    }

    .text {
        height: 619px;
    }

    .text p {
        line-height: 42px;
    }

    .svg p {
        font-size: 20px;
    }

    .boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .box {
        margin-top: 10%;
        height: 316px;
        width: 489px;
    }

    .svg {
        height: 1350px;
    }

    .img-svg {
        top: -12%;
        height: 80px;
        width: 80px;
    }

    .balloon {
        height: 900px;
    }

    .photo-box1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-item-2 {
        grid-row: 3;
        grid-column: 1;
    }

    .grid-item-3 {
        grid-row: 1;
        grid-column: 1;
    }

    .text1-photo p {
        padding: 0px;
        width: 99%;
    }

    .text2-photo {
        text-align: left;
        margin: 10px 70px;
    }

    .text1-photo {
        margin: 0px 60px;
        padding: 0px 0px;
    }

    .photo-img {
        width: 500px;
        height: 500px;
        left: -60px;
    }

    .photo-img2 img {
        right: 81px;
        bottom: 43px;
    }

    .photo {
        position: relative;
        height: 1400px;

    }

    .box-5-2 {
        width: 550px;
        height: 550px;
        top: -96px;
        left: 41px;
    }

    .cont {
        height: 1000px;
        width: 630px;
    }

    .box-5-1 {
        padding: 0px 25px;
    }

    .sec-5 {
        width: 97%;
        padding: 10px;
        background-color: #fdecf0;
    }

    .sec-6-box2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .sec-6-boxes {
        width: 450px;
    }

    .sec-6 {
        height: 2100px;
    }

    .sec-6-box3 {
        margin: 16px 0px;
    }

    .sec-6-box3 h2 {
        font-size: 55px;
    }
}


@media screen and (max-width: 680px) {
    .img img {
        margin-left: -30px;
        margin-top: 143px;
        height: 524px;
        width: 432px;
    }
}

@media screen and (max-width: 600px) {

    .navbar {
        flex-direction: column;
    }

    .text {
        height: 634px;
        width: 300px;
    }

    .text h3 {
        font-size: 27px;
        margin: 0px 0px;
    }

    .text p {
        line-height: 31px;
    }

    .box {
        margin-top: 13%;
        height: 360px;
        width: 315px;
    }

    .img-svg {
        top: -10%;
        height: 60px;
        width: 60px;
    }

    .svg {
        height: 1500px;
    }

    .svg {
        height: 1500px;
    }

    .balloon {
        height: 1000px;
    }

    .text2-photo {
        text-align: left;
        margin: 37px 56px;
    }

    .text1-photo {
        margin-bottom: 30px;
    }

    .photo-img {
        width: 450px;
        height: 450px;
        left: -15px;
    }

    .box-5-2 {
        width: 414px;
        height: 414px;
        top: -96px;
        left: 1px;
    }

    .box-5-1 {
        padding: 0px 25px;
        margin-top: -493px;
    }

    .sec-5 {
        height: 1000px;
    }

    .cont {
        height: 856px;
        width: 333px;
    }

    .box-5-1 {
        padding: 0px 25px;
        margin-top: -350px;
        width: 322px;
    }

    .box-5-1 h2 {
        font-size: 24px;
    }

    .box-5-1 .btn111 {
        margin: 2px 93px 0px 9px;
    }

    .sec-6-img {
        left: 90px;
        width: 300px;
        height: 300px;
    }

    .sec-6-box2 {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 10px;
    }

    .sec-6-boxes {
        width: 312px;
    }

    .sec-6 p {
        margin-top: 0px;
    }

    .sec-6-box3 h2 {
        font-size: 40px;
    }

    .sec-6 p {
        margin-top: 0px;
        font-size: 14px;
        line-height: 19px;
    }

    .sec-6 {
        height: 1720px;
    }

    .sec-7-box {
        grid-template-columns: repeat(1, 1fr);
        height: 1100px;
    }

    .sec-7 {
        height: 1081px;
    }

    .balloon-img1 img {
        height: 249px;
    }
}

@media screen and (max-width: 460px) {
    .photo-img {
        width: 340px;
        height: 340px;
        left: -15px;
    }

    .sec-6-img {
        left: 57px;
        width: 220px;
        height: 220px;
    }

    .sec-6-img2 {
        width: 50px;
        height: 50px;
    }

    .img img {
        margin-left: -30px;
        margin-top: 143px;
        height: 409px;
    }

}